version: '3.8'

services:
  randemon-cache:
    container_name: randemon-cache
    image: redis
    volumes:
      - cache-data:/data
    networks:
      - randemon-network
  randemon-api:
    container_name: randemon-api
    build: 
      context: ./api
      dockerfile: ./Dockerfile.dev
    ports:
      - '3000:3000'
    env_file:
      - ./api/.env
    volumes:
      - ./api/:/app
    networks:
      - randemon-network
    depends_on:
      - randemon-cache

networks:
  randemon-network:

volumes:
  cache-data: 