version: '3.8'

services:
  randemon-cache:
    container_name: randemon-cache
    image: redis
    volumes:
      - cache-data:/data
  randemon-api:
    container_name: randemon-api
    build: 
      context: ./api
      dockerfile: ./Dockerfile
    ports:
      - '3000:3000'
    env_file:
      - ./api/.env
    networks:
      - randemon-network

networks:
  randemon-network:

volumes:
  cache-data: 