version: '3.8'

services:
  randemon-cache:
    container_name: randemon-cache
    image: redis
    ports:
      - '6379'
    volumes:
      - cache-data:/data
    networks:
      - randemon-network
  randemon-cache-test:
    container_name: randemon-cache-test
    image: redis
    ports:
      - '7777:6379'
    networks:
      - randemon-network
  randemon-api:
    container_name: randemon-api
    build: 
      context: ./api
      dockerfile: ./Dockerfile.dev
    ports:
      - '4000:3000'
    env_file:
      - ./api/.env
    volumes:
      - ./api/:/app
    networks:
      - randemon-network

networks:
  randemon-network:

volumes:
  cache-data: 